
        <div class="d-flex justify-content-end">
            <% if (lista) { %>
                <a href="/usuarios" class="btn btn-outline-secondary">
                    <span lang="es" class="lang lang-es">Volver a la lista</span>
                    <span lang="en" class="lang lang-en d-none">Back to List</span>
                </a>
            <% } else { %>
                <a href="/" class="btn btn-outline-secondary">
                    <span lang="es" class="lang lang-es">Volver al inicio</span>
                    <span lang="en" class="lang lang-en d-none">Back to Home</span>
                </a>
            <% } %>
        </div>
        <div id="alertasPerfil"></div>
        <div class="perfil-card">
            <div class="perfil-card-header text-center">
                <h2 class="perfil-title">
                    <%= title %>
                </h2>
            </div>

            <div class="perfil-card-body text-center">
                <div class="perfil-avatar mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-square"
                        viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                    </svg>
                </div>
                <h4 class="perfil-nombre mb-1">
                    <%= usuario.nombre %>
                </h4>
                <small class="perfil-rol text-muted">
                    <% if (usuario.rol==='Empleado' ) { %>
                        <span class="badge bg-success">Empleado</span>
                          <% } else { %>
                            <span class="badge bg-danger">Administrador</span>
                            <% } %>
                </small>
                <small class="perfil-activo text-muted">
                    <% if (usuario.activo===1 ) { %>
                        <span id="badgeActivo" class="badge bg-success">Activo</span>
                    <% } else { %>
                        <span id="badgeActivo" class="badge bg-danger">Eliminado</span>
                    <% } %>
                </small>

            </div>

            <div class="perfil-info">
                <div class="perfil-info-item">
                    <span class="label">Email:</span>
                    <span class="value">
                        <%= usuario.correo %>
                    </span>
                </div>
                <div class="perfil-info-item">
                    <span class="label">Concesionario:</span>
                    <span class="value">
                        <%= usuario.nombre_concesionario %>
                    </span>
                </div>
            </div>

            <!-- Botones -->
            <div class="perfil-actions d-flex">
                <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmarEliminarUsuarioModal"
                    data-id="${u.id_usuario}"
                    data-name="${u.nombre}">
                    Eliminar
                </button>


                <a href="/usuarios/<%= usuario.id_usuario %>/editar" class="btn btn-primary">
                    <span lang="es" class="lang lang-es">Editar Información</span>
                    <span lang="en" class="lang lang-en d-none">Edit Info</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ELIMINAR USUARIO -->
<!-- Modal de eliminación -->
<div class="modal fade" id="confirmarEliminarUsuarioModal" tabindex="-1" aria-labelledby="confirmarEliminarUsuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="confirmarEliminarUsuarioModalLabel">Eliminar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body">
        <p id="textoConfirmacion">¿Estás seguro de que quieres eliminar este usuario?</p>

        <div class="d-flex justify-content-end mt-3 gap-2">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form id="formEliminarUsuario" class="m-0 p-0">
             <button type="submit" class="btn btn-primary">Eliminar</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>



<script src="/js/ajax/usuarios/usuarioDetalle.js"></script>