<div class="vehiculo-detalle-content">
  <div class="vehiculo-card card mx-auto" style="max-width: 900px;">
    <div class="row g-0">

      <div class="col-md-6">
        <div class="vehiculo-img-container h-100">
          <img src="<%= vehiculo.imagen %>" class="rounded-start img-cover"
            alt="<%= vehiculo.marca %>">
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column">

        <div class="card-body flex-grow-1">
          <h5 class="card-title">
            <%= vehiculo.marca %>
            <%= vehiculo.modelo %> (<%= vehiculo.anyo_matriculacion %>), Matricula: <%= vehiculo.matricula %>
          </h5>
          <p class="card-text"> <%= vehiculo.descripcion %> </p>
          <div class="row">
            <div class="col-6">
              <p class="card-text"><strong>Tipo: </strong><%= vehiculo.tipo %></p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Número de plazas: </strong><%= vehiculo.numero_plazas %></p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Autonomía: </strong><%= vehiculo.autonomia_km %></p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Color: </strong><%= vehiculo.color %></p>
            </div>
            <div class="col-6">
              <p class="card-text">
                <strong>Estado:</strong>
                <% if (vehiculo.estado==='disponible' ) { %>
                <span class="badge bg-success">Disponible</span>
                <% } else if (vehiculo.estado==='reservado' ) { %>
                <span class="badge bg-warning text-dark">Reservado</span>
                <% } else { %>
                <span class="badge bg-danger">Mantenimiento</span>
                <% } %>
              </p>
            </div>
            <div class="col-6">
              <p class="card-text"><strong>Concesionario:</strong> <%= concesionario.nombre %></p>
            </div>
          </div>
          <br>
          <p class="text-muted">Desde <%= vehiculo.precio %> €</p>
        </div>

        <div class="perfil-actions d-flex">
          <a href="/vehiculos" class="btn btn-secondary w-50">Volver a la lista</a>
          <a href="/reserva" class="btn btn-primary w-50">Reservar</a>
        </div>
        
      </div> 
    </div> 
  </div> 
</div>