<div class="vehiculos-content">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Vehículos ofertados en GestiFleet:</h1>

  </div>   
  <div>
    <form method="GET" action="/vehiculos" class="d-flex gap-2 align-items-center">
      <label for="tipo" class="mb-0">Filtrar por tipo:</label>
      <select name="tipo" id="tipo" class="form-select w-auto">
        <option value="">Todos</option>
        <% if (tiposDisponibles && tiposDisponibles.length > 0) { %>
          <% tiposDisponibles.forEach(function(t) { %>
            <option value="<%= t %>"> <%= t %> </option>
          <% }) %>
        <% } %>
      </select>
      <label for="estado" class="mb-0">Filtrar por estado:</label>
      <select name="estado" id="estado" class="form-select w-auto">
        <option value="">Todos</option>
        <% if (estadosDisponibles && estadosDisponibles.length > 0) { %>
          <% estadosDisponibles.forEach(function(e) { %>
            <option value="<%= e %>"> <%= e %> </option>
          <% }) %>
        <% } %>
      </select>
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
  </div>     
  <br>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% if (vehiculos && vehiculos.length > 0) { %>
      <% vehiculos.forEach(v => { %>
      <div class="col">
        <a href="/vehiculos/<%= v.id_vehiculo %>" class="d-block" style="  text-decoration: none !important;">
          <div class="vehiculo-card card-base h-100 d-flex flex-column">
            <div class="vehiculo-img-container">
              <img src="<%= v.imagen%>" class="card-img-top" alt="<%= v.marca %>">
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= v.marca %></h5>
              <p class="card-text"><%= v.descripcion %></p>
              <p class="text-muted">Desde <%= v.precio %> €</p>
            </div>
            <div class="card-footer p-0">
              <a href="/reserva?idVehiculo=<%= v.id_vehiculo %>" class="btn btn-primary w-100 rounded-0">Reservar</a>
            </div>
          </div>
        </a> 
      </div>
      <% }) %>
    <% } else { %>
      <p>No se encontraron vehículos para este tipo.</p>
    <% } %>
  </div>
</div>